In [3]:
import pandas as pd
import numpy as np

In [29]:
df=pd.read_csv("Q7.csv")

In [25]:
print("For Points")
print("Mean=",df['Points'].mean())
print("Median=",df['Points'].median())
print("Mode=",df['Points'].mode())
print("Variance=",df['Points'].var())
print("Std=",df['Points'].std())
print("Max=",df['Points'].max())
print("Min=",df['Points'].min())
print("Range=",df['Points'].max()-df['Points'].min())

For Points
Mean= 3.5965625000000006
Median= 3.6950000000000003
Mode= 0    3.07
1    3.92
dtype: float64
Variance= 0.28588135080645166
Std= 0.5346787360709716
Max= 4.93
Min= 2.76
Range= 2.17

In [26]:
print("For Score")
print("Mean=",df['Score'].mean())
print("Median=",df['Score'].median())
print("Mode=",df['Score'].mode())
print("Variance=",df['Score'].var())
print("Std=",df['Score'].std())
print("Max=",df['Score'].max())
print("Min=",df['Score'].min())
print("Range=",df['Score'].max()-df['Score'].min())

For Score
Mean= 3.2172499999999995
Median= 3.325
Mode= 0    3.44
dtype: float64
Variance= 0.9573789677419356
Std= 0.9784574429896967
Max= 5.424
Min= 1.513
Range= 3.9110000000000005

In [28]:
print("For Weigh")
print("Mean=",df['Weigh'].mean())
print("Median=",df['Weigh'].median())
print("Mode=",df['Weigh'].mode())
print("Variance=",df['Weigh'].var())
print("Std=",df['Weigh'].std())
print("Max=",df['Weigh'].max())
print("Min=",df['Weigh'].min())
print("Range=",df['Weigh'].max()-df['Weigh'].min())

For Weigh
Mean= 17.848750000000003
Median= 17.71
Mode= 0    17.02
1    18.90
dtype: float64
Variance= 3.193166129032258
Std= 1.7869432360968431
Max= 22.9
Min= 14.5
Range= 8.399999999999999

In [35]:
d=pd.read_csv("Q9_a.csv")

In [36]:
print("For Speed")
print("Skewness",d['speed'].skew())
print("Kurtosis",d['speed'].kurt())

For Speed
Skewness -0.11750986144663393
Kurtosis -0.5089944204057617

In [34]:
print("For dist")
print("Skewness",d['dist'].skew())
print("Kurtosis",d['dist'].kurt())

For dist
Skewness 0.8068949601674215
Kurtosis 0.4050525816795765

In [40]:
a=pd.read_csv("Q9_b.csv")

In [39]:
print("For SP")
print("Skewness=",a['SP'].skew())
print("Kurtosis=",a['SP'].kurt())

print("For WT")
print("Skewness=",a['WT'].skew())
print("Kurtosis=",a['WT'].kurt())

For SP
Skewness= 1.6114501961773586
Kurtosis= 2.9773289437871835
For WT
Skewness= -0.6147533255357768
Kurtosis= 0.9502914910300326

In [5]:
import seaborn as sn
from scipy import stats

In [50]:
print("Avg wt for 94% CI=",stats.t.interval(0.97,df=2999999,loc=200,scale=30))
print("Avg wt for 98% CI=",stats.t.interval(0.99,df=2999999,loc=200,scale=30))
print("Avg wt for 96% CI=",stats.t.interval(0.98,df=2999999,loc=200,scale=30))

Avg wt for 94% CI= (134.8972576982382, 265.1027423017618)
Avg wt for 98% CI= (122.72507172801117, 277.2749282719888)
Avg wt for 96% CI= (130.20952648800085, 269.79047351199915)

In [71]:
L={'Value':['34','36','36','38','38','39','39','40','40','41','41','41','41','42','42','45','49','56']}
df=pd.DataFrame(L)
df.dtypes

Value    object
dtype: object

In [72]:
df=df.astype('float')
df.dtypes

Value    float64
dtype: object

In [73]:
print("Mean=",df.mean())
print("Median=",df.median())
print("Variance=",df.var())
print("Std=",df.std())

Mean= Value    41.0
dtype: float64
Median= Value    40.5
dtype: float64
Variance= Value    25.529412
dtype: float64
Std= Value    5.052664
dtype: float64

In [4]:
c=pd.read_csv("Cars.csv")
c

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [10]:
#to find probability mpg<40
stats.norm.cdf(39,c['MPG'].mean(),c['MPG'].std())

0.6919327518061481

In [9]:
#to find probability mpg<40
stats.norm.cdf(39,loc=c['MPG'].mean(),scale=c['MPG'].std())

0.6919327518061481

In [13]:
#to find probability mpg>38
1-stats.norm.cdf(38,loc=c['MPG'].mean(),scale=c['MPG'].std())

0.3475939251582705

In [14]:
#to find probability 20<mpg<50
stats.norm.cdf(49,loc=c['MPG'].mean(),scale=c['MPG'].std())-stats.norm.cdf(20,loc=c['MPG'].mean(),scale=c['MPG'].std())

0.887682401722877

In [18]:
c['MPG'].mode()

0    29.629936
dtype: float64

In [16]:
c['MPG'].std()

9.131444731795982

In [20]:
x=pd.read_csv("wc-at.csv")
x

      Waist      AT
0     74.75   25.72
1     72.60   25.89
2     81.80   42.60
3     83.95   42.80
4     74.65   29.84
..      ...     ...
104  100.10  124.00
105   93.30   62.20
106  101.80  133.00
107  107.90  208.00
108  108.50  208.00

[109 rows x 2 columns]

In [27]:
x['AT'].mean()

101.89403669724771

In [29]:
#Calculate the Z scores of  90% confidence interval
stats.norm.ppf(0.95)

1.6448536269514722

In [30]:
#Calculate the Z scores of  94% confidence interval
stats.norm.ppf(0.97)

1.8807936081512509

In [31]:
#Calculate the Z scores of  80% confidence interval
stats.norm.ppf(0.8)

0.8416212335729143

In [32]:
stats.t.cdf(0.975,df=24)

0.8303570471638759

In [33]:
#Calculate the t scores of 95% confidence interval with sample size 25
stats.t.ppf(0.975,df=24)

2.0638985616280205

In [40]:
stats.t.interval(0.975,df=17,loc=260,scale=90)

(38.775435166060845, 481.2245648339393)

In [38]:
stats.norm.cdf(260,loc=260,scale=90)

0.5

In [45]:
stats.t.ppf(0.975,df=17,loc=260,scale=90)

449.88340200498624

NameError: name 'pt' is not defined